.preview {
  width: 220px;
  height: 130px;
  border-radius: 15px;
}
.bigPreview {
  width: 400px;
  height: 200px;
  border-radius: 15px;
}
.vidName {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}
.shortInf {
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.vidInfo {
  color: rgb(184, 181, 181);
  font-size: 10px;
}
.infBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Card {
  margin-right: 30px;
}
.VideoLink {
  text-decoration: none;
  color: black;
}
.imgDiv {
  position: relative;
}

.timeIcon {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: rgba(130, 128, 128, 0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}
