.VideoContent {
  padding-right: 10px;
  display: flex;
  width: 100%;
  padding-top: 10px;
}
.OfferedList {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  gap: 15px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  transition: 0.4s;
}

.switch input[type="checkbox"]:checked + .slider {
  background-color: #2196f3;
}

.switch input[type="checkbox"]:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.NextControl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.NextControl > h2 {
  margin: 0;
  font-size: 36px;
}
.NextControl > div {
  display: flex;
  align-items: center;
  padding-top: 12px;
}
.NextControl > div > h3 {
  font-size: 18px;
  margin: 0 10px 0 0;
}
.Player {
  width: 100%;
  height: 700px;
  border-radius: 15px;
}
.InteractionBtns {
  display: flex;
  padding-bottom: 10px;
}
.AuthorImg3 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
.InteractBtn {
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  color: rgb(175, 173, 173);
  margin: 0 15px;
}
.InteractBtn > p {
  margin: 0 0 0 10px;
}
.InteractBtn:nth-child(4) {
  font-size: 38px;
  font-weight: bolder;
  margin-right: 0;
}
.InteractBtn:hover {
  background-color: rgb(238, 238, 238);
}
.MainVidInfo {
  color: rgb(184, 181, 181);
  font-size: 20px;
  margin: 0;
}
.VideoInteract {
  display: flex;
  flex-direction: column;
}
.VideoInteract > h1 {
  margin: 10px 0;
  font-size: 38px;
}
.VideoInteract > div {
  display: flex;
  justify-content: space-between;
}
.PlayerAndInf {
  width: 75.5%;
  margin: 0 40px 0 0;
  padding-left: 80px;
}
.Offered {
  width: 19%;
}
.VideoDesription {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 20px;
}
.VideoDesription > div {
  display: flex;
  width: 60%;
}
@media screen and (max-width: 1600px) {
  .PlayerAndInf {
    padding-left: 30px;
    width: 70%;
  }
  .Player {
    height: 600px;
  }
  .Offered {
    width: 24%;
  }
}
@media screen and (max-width: 770px) {
  .VideoContent {
    flex-direction: column;
    padding: 0;
  }

  .PlayerAndInf {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .Player {
    width: 100%;
    height: auto;
    border-radius: 0;
  }

  .Description {
    display: none;
  }
  .subCount {
    display: none;
  }
  .InteractionBtns {
    padding-left: 40px;
  }

  .InteractBtn:nth-child(4) {
    display: none;
  }

  .Offered {
    width: 95%;
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 430px) {
  .PlayerAndInf {
    width: 100%;
    margin: 0;
  }

  .Player {
    width: 100%;
    height: 195px;
    border-radius: 0;
  }
  .VideoInteract > h1 {
    font-size: 20px;
    padding-top: 10px;
  }
  .MainVidInfo {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .Description {
    display: none;
  }
  .subCount {
    display: none;
  }
  .InteractionBtns {
    padding-left: 0px;
    margin-bottom: 30px;
  }
  .AuthorImg2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .InteractBtn:nth-child(4) {
    display: none;
  }

  .Offered {
    width: 95%;
    margin-top: 20px;
    padding-right: 10px;
    margin-left: 10px;
  }
  .OfferedList {
    gap: 20px;
  }
  .SubscribeBtn2 {
    background: none;
    color: red;
    font-weight: bold;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: default;
    text-align: center;
  }
  .VideoDesription {
    padding-top: 0;
    padding-right: 20px;
    padding-left: 20px;
  }
  .MobileHR {
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #ccc;
    width: 100%;
  }
  .SubscribeText {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
    align-items: center;
  }

  .subCount {
    color: red;
    margin-left: 5px;
  }
  .VideoInteract {
    padding-left: 10px;
  }
  .VideoInteract > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .vidInfo2 {
    margin-bottom: 5px;
  }
  .SubscribeBtn2 {
    display: none;
  }
  .AuthorName {
    font-size: 14px;
    margin-top: 10px;
  }
  .AuthorImg3 {
    width: 50px;
    height: 50px;
  }
  .SubscribeMobile {
    color: red;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
  }

  .MobileSubCount {
    font-size: 10px;
    color: gray;
    margin-top: 5px;
  }
  .MobileDescMain {
    display: flex;
    align-items: center;
  }

  .DescrDiv {
    margin-left: 10px;
  }
  .NextControl > h2 {
    font-size: 16px;
  }
  .NextControl > div > h3 {
    font-size: 16px;
  }
  .NextControl > div {
    padding: 0;
  }
  .NextControl {
    margin-bottom: 10px;
  }
}
