.AuthorContent {
  width: 95%;
  padding-left: 85px;
  overflow: hidden;
  padding-top: 10px;
}
.backImg {
  width: 100%;
  height: 280px;
  border-radius: 15px;
}
.BackImg-div {
  padding-right: 70px;
}
#author-vid-section {
  padding-top: 15px;
  font-size: 20px;
}
#author-vid-section > .SectionInfo {
  padding-left: 0;
  padding-right: 130px;
}
.AuthorSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-right: 70px;
}
.AuthorList {
  display: flex;
  gap: 40px;
  padding: 0;
  overflow-x: auto;
  padding-left: 10px;
}
.AuthorList > li {
  display: inline-block;
}
.TxtPose {
  display: flex;
  flex-direction: column;
}
.AuthorName {
  padding: 0;
  margin: 0;
}
.Followers {
  font-size: 12px;
  color: rgb(193, 190, 190);
  margin: 0;
}
.AutInfPose {
  display: flex;
  align-items: center;
}
.AuthorImg2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}
.SubscribeBtn2 {
  color: white;
  background-color: red;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
}
.SubBtns {
  display: flex;
  align-self: flex-start;
  padding-top: 5px;
}
.SectionInfo > h3 {
  margin: 10px;
}
.Catigories {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.Catigories > li {
  display: inline-block;
  margin-right: 63px;
  font-size: 20px;
}
.Catigories > li > a {
  text-decoration: none;
  color: black;
}
#active {
  color: red;
  text-decoration: underline 2px;
}
.shortInf2 {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-bottom: 10px;
}
.vidInfo2 {
  color: rgb(184, 181, 181);
  font-size: 16px;
  margin: 0;
}
.bigImg {
  width: 540px;
  height: 260px;
  border-radius: 15px;
}
.VideoDiv {
  display: flex;
  padding-top: 25px;
}
.DescriptionDiv {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}
.DescriptionDiv > h3 {
  margin-bottom: 0;
  font-size: 26px;
  margin-top: 15px;
}
.MainSection {
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
  padding-right: 70px;
}
.RecChan {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-top: 10px;
}
.RecChan > p {
  color: rgb(202, 200, 200);
}
.RecChanList {
  list-style: none;
  padding-top: 5px;
  padding-left: 15px;
  margin: 0;
}
.RecChanList > li > a {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
}
.RecChanList > li > a > h4 {
  margin-left: 10px;
}
.SectionChoose {
  width: 90%;
}
.Catigories > li:last-child > button {
  border: none;
  background-color: transparent;
}
.Catigories > li:last-child {
  display: none;
}

@media screen and (max-width: 1225px) {
  .RecChan {
    display: none;
  }
  .Catigories > li:nth-child(n + 4):not(:last-child) {
    display: none;
  }

  .Catigories > li:last-child {
    display: inline-block;
  }
  .bigImg {
    width: 100%;
    height: 300px;
  }
  .VideoDiv {
    flex-direction: column;
    justify-content: center;
  }
  .MainSection {
    padding-right: 0;
  }
}

@media screen and (max-width: 430px) {
  .AuthorContent {
    padding: 0;
    width: 100%;
    margin-left: 0;
  }
  .AutInfPose {
    display: block;
  }
  .BackImg-div {
    padding-right: 0;
  }
  .backImg {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 0;
  }

  .AuthorSection {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    padding-left: 10px;
    margin-top: -30px;
    padding-right: 0;
  }
  .SubscribeBtn2 {
    padding: 10px 15px;
    font-size: 14px;
  }
  .SubBtns {
    margin-top: 10px;
  }
  .AuthorImg2 {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: -10px;
  }
  .MainSection {
    flex-direction: column;
    width: 100%;
    margin-bottom: 0;
  }

  .AuthorList {
    flex-direction: column;
    width: 90%;
    justify-content: center;
    margin-left: 10px;
    margin-top: 0;
    gap: 20px;
  }

  .bigImg {
    width: 100%;
    height: auto;
  }

  .DescriptionDiv {
    margin-left: 0;
    margin-top: 10px;
  }

  .Catigories {
    flex-wrap: wrap;
    gap: 16px;
    font-size: 8px;
    padding-left: 20px;
    justify-content: flex-start;
    padding-top: 10px;
  }
  .Catigories > li {
    margin: 0;
  }
  .Catigories > li > a > h4 {
    margin: 0;
  }
  #author-vid-section {
    padding-top: 0;
  }
  .SectionInfo {
    flex-direction: column;
    align-items: flex-start;
  }

  .TxtPose h2 {
    font-size: 20px;
  }

  .Followers {
    font-size: 11px;
  }
  .VideoDiv {
    display: none;
  }

  .RecChan {
    display: none;
  }

  .Catigories > li:nth-child(n + 4):not(:last-child) {
    display: none;
  }

  .Catigories > li:last-child {
    display: inline-block;
  }
  .SectionChoose {
    width: 100%;
    overflow-x: auto;
  }
}
