.CentPart {
  display: flex;
  justify-content: space-between;
  height: 40px;
  flex: 1;
  justify-content: center;
}
.CentPart form {
  max-width: 600px;
  width: 100%;
  border-radius: 15px;
  display: flex;
}
.CentPart input {
  width: 100%;
}
.SearchInp {
  width: 75%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 0;
  padding-left: 15px;
  font-size: 15px;
  background-color: #e9e9e9;
}
.CentPart button:hover {
  background-color: #918e8e;
}
.SearchBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 7px;
  padding-left: 15px;
  padding-right: 20px;
  border-color: transparent;
  background-color: #e9e9e9;
}
@media screen and (max-width: 430px) {
  .SearchInp {
    display: none;
  }
  .SearchBtn {
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 10px;
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;
    margin-left: 10px;
  }
  .CentPart {
    justify-content: flex-end;
    width: 45%;
  }
  .CentPart form {
    justify-content: flex-end;
    width: 70%;
  }
}
