.LeftPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.burger {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 10px;
}
.burger:hover {
  background-color: rgb(177, 175, 175);
}
.Logo {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  display: flex;
  justify-content: left;
  width: 150px;
  align-items: center;
}
.logoImg {
  width: 50px;
  margin-right: 5px;
}
@media screen and (max-width: 430px) {
  .burger {
    display: none;
  }
  .Logo {
    margin-left: 25px;
  }
}
.logo-channel {
  display: none;
}

@media screen and (max-width: 430px) {
  body.channel-page .logo-default {
    display: none;
  }

  body.channel-page .logo-channel {
    display: block;
    width: 120px;
  }
}
