/*централизовать иконку можно через флексы с элай-айтемс центр*/
.LeftPart {
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: center;
}
.burger {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 10px;
  border-radius: 50%;
  font-size: 20px;
  margin-left: 10px;
}
.burger:hover {
  background-color: rgb(177, 175, 175);
}
.Logo {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: left;
  width: 150px;
  align-items: center;
}
.logoImg {
  width: 50px;
  margin-right: 5px;
}
